.header {
  background-color: #dcddde;
  height: 4.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;

  .innerContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;

    img {
      height: 4rem;
    }

    .loginButton {
      background-color: #14c747;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      margin-right: 1rem;
      outline: none;
      padding: 0.4rem 1.7rem;
      text-transform: uppercase;
    }

    .profileWrapper {
      align-items: center;
      display: flex;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      margin-right: 1rem;
      text-decoration: none;
      position: relative;

      img {
        height: 2rem;
      }

      p {
        color: #333;
        font-size: 0.8rem;
        margin: 0;
      }

      .profileMenu {
        align-items: center;
        background-color: #dcddde;
        border-radius: 0 0 0.2rem 0.2rem;
        display: flex;
        flex-direction: column;
        margin-top: 9rem;
        padding: 0.5rem 0.5rem 0.5rem;
        position: fixed;
        width: 6.5rem;

        @media (max-width: 644px) {
          margin-top: 6rem;
        }

        .linkButton,
        .logoutButton {
          font-size: 0.9rem;
          font-weight: 700;
          margin-top: 0.5rem;

          text-decoration: none;
        }

        .linkButton {
          color: #333;
          text-align: center;
        }

        .logoutButton {
          border: none;
          border-radius: 3px;
          outline: none;
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  .timeBar {
    align-items: center;
    background-color: #555;
    padding: 0.5rem 1rem;

    .innerContainer {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      max-width: 800px;

      img {
        height: 1.3rem;
        margin-right: 0.5rem;
      }

      p {
        color: #fff;
        font-size: 0.6rem;
        margin: 0;
      }
    }
  }

  .setTimeModal {
    align-items: center;
    background-color: #dcddde;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1.5rem 0;

    .pickerWrapper {
      display: 'flex';
      justify-content: 'center';
      width: '100%';

      .picker {
        width: fit-content;
      }
    }
    label {
      font-weight: 700;
      margin-bottom: 0.8rem;
    }

    .modalButtons {
      display: flex;
      margin-top: 0.8rem;

      button {
        border: none;
        border-radius: 3px;
        margin: 0 0.2rem;
        outline: none;
        padding: 0.2rem 0.5rem;
      }

      .mainButton {
        background-color: #0e81c9;
        color: #fff;
      }

      .cancelButton {
        background-color: transparent;
        color: #333;
        border: 1px solid #333;
      }
    }
  }
}
