.searchArea {
  .searchBox {
    align-items: center;
    display: flex;
    margin: 5rem 0 0.5rem;
    width: 100%;

    .imageWrapper {
      align-items: center;
      background-color: #fff;
      height: 2rem;
      display: flex;
      justify-content: center;
      padding: 0 0.2rem;

      img {
        height: 1.3rem;
        width: 1.3rem;
      }
    }

    input {
      background-color: #fff;
      border: none;
      font-size: 1rem;
      height: 2rem;
      outline: none;
      padding: 0.5rem;
      width: 100%;
    }
  }

  select {
    background-color: #fff;
    border: none;
    height: 2rem;
    outline: none;
    padding: 0.5rem;
    width: 100%;
  }
}
