.react-datetime-picker {
  background-color: #fff;

  .react-datetime-picker__wrapper {
    border: none;
    border-radius: 0.5rem;
    height: 2rem;
  }
  .react-datetime-picker__inputGroup__input {
    outline: none;
  }
}
