.createMeetup {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  h1 {
    font-size: 1.4rem;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 90%;

    .checkboxRow {
      input {
        background-color: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 0.5rem;
        margin-right: 0.3rem;

        &:checked {
          background-color: #fff;
        }
      }
    }

    .detailsArea {
      background-color: #dcddde;
      border-radius: 5px;
      color: #333;
      padding: 1.5rem 0.5rem 1rem;
      margin-bottom: 1rem;
    }

    .addressArea {
      background-color: #dcddde;
      border-radius: 5px;
      color: #333;
      padding: 1.5rem 0.5rem 1rem;
      margin-bottom: 1rem;

      h4 {
        margin: 0 0 0.5rem 0;
      }
    }

    .capacityArea {
      background-color: #dcddde;
      border-radius: 5px;
      color: #333;
      padding: 1rem 0.5rem;
      margin-bottom: 1rem;
    }

    .inputRow {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      label {
        font-weight: 700;
        margin-bottom: 0.2rem;
      }

      input,
      textarea {
        border: none;
        font-family: inherit;
        font-size: 1rem;
        outline: none;
      }

      .textInput {
        padding: 0.5rem;
      }

      .titleInput {
        font-weight: 700;
      }

      textarea {
        height: 3rem;
        resize: none;
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;

      button {
        border: none;
        border-radius: 3px;
        font-size: 0.8rem;
        margin: 0 0.2rem;
        outline: none;
        padding: 0.3rem 0.6rem;
      }

      .mainButton {
        background-color: #0e81c9;
        border: 1px solid transparent;
        color: #fff;

        &:disabled {
          background-color: #d9d9d9;
        }
      }

      .cancelButton {
        background-color: transparent;
        color: #333;
        border: 1px solid #333;
      }
    }
  }
}
