.meetup {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;

  .red {
    color: #c80000;
  }

  button {
    background-color: #0e81c9;
    border: none;
    color: #fff;
    margin: 0 auto;
    outline: none;
    padding: 0.5rem;
  }

  .upcomingHeader {
    color: #0e81c9;
    margin: 0;
    margin: 0 0 0.3rem 0;
  }

  .pastHeader {
    color: #dcddde;
    margin: 0;
    margin: 0 0 0.3rem 0;
  }

  h2 {
    font-size: 1.2rem;
    font-style: italic;
    margin: 0 0 1rem 0;
  }

  .signUpButton {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .signedUpMessage {
    align-items: center;
    background-color: #14c747;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    outline: none;
    padding: 0.2rem 0.5rem;

    p {
      color: #fff;
      font-weight: 700;
    }

    button {
      background-color: #b7b7b7;
      margin: 0;
      padding: 0.2rem 0.5rem;
    }
  }

  .details,
  .arranger,
  .capacity,
  .loginInfo,
  .reviews,
  .comments {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    padding: 0.5rem;

    .headerRow {
      align-items: center;
      display: flex;

      img {
        margin-right: 0.3rem;
        width: 1.7rem;
      }
      h3 {
        font-size: 1rem;
        margin: 0;
      }
      p {
        margin: 0.5rem 0;
      }
      .note {
        color: #c80000;
        font-size: 0.7rem;
      }
    }

    .capacityInfo {
      p {
        margin: 0.5rem 0;
      }

      .available {
        color: #14c747;
      }

      .attendedRow {
        align-items: center;
        display: flex;

        .red {
          color: #c80000;
        }

        img {
          margin-right: 0.3rem;
          opacity: 0.8;
          width: 1.7rem;
        }
      }
    }
  }

  .reviews {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    .rating {
      color: #14c747;
      font-size: 1.1rem;
      font-weight: 700;
    }

    .ratingForm {
      align-self: center;
      display: flex;
      flex-direction: column;

      label {
        font-weight: 700;
      }

      select {
        font-family: inherit;
        font-weight: 700;
        height: 1.8rem;
        margin: 0.5rem 0;
        outline: none;
      }
    }
  }

  .comments {
    display: flex;
    flex-direction: column;

    .commentList {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0.5rem 0;

      .commentCard {
        background-color: #f5f5f0;
        border-radius: 0 1rem 1rem 1rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        margin: 0.5rem 0;
        padding: 0 0.5rem;
        max-width: 85%;
        width: fit-content;

        &.you {
          align-self: flex-end;
          background-color: #0e81c9;
          border-radius: 1rem 0 1rem 1rem;
          color: white;
        }

        .commentText {
          font-weight: 700;
        }

        .commentSignature {
          font-size: 0.8rem;
        }
      }
    }

    .commentForm {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      textarea {
        height: 5rem;
        font-family: inherit;
        margin-bottom: 0.5rem;
        outline: none;
        resize: none;
        padding: 0.5rem;
      }

      .formButtons {
        button {
          border: 1px solid transparent;
          margin-right: 0.5rem;

          &.cancel {
            background-color: #b7b7b7;
          }
        }

        button:disabled {
          background-color: transparent;
          border: 1px solid #333;
          color: #333;
        }
      }
    }
  }

  .loginInfo {
    align-items: center;
    background-color: #dcddde;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;

    h3,
    p {
      margin: 0 0 0.5rem 0;
    }
  }
}
